<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="p-4 bg-gray-100 border-b-4 border-black ">
      <div class="flex items-center justify-between max-w-screen-md mx-auto">
        <div class="space-x-2">
          <% if params[:controller] == "lessons" %>
            <!-- display selected button (this is starting to get really messy... -->
            <%= link_to "Lezioni", lessons_path, class: "inline-block font-bold text-black px-4 py-2 rounded-sm bg-[#9B1C12] text-white border-2 border-black translate-x-[4px] translate-y-[4px] shadow-none" %>
          <% else %>
            <%= link_to "Lezioni", lessons_path, class: "inline-block font-bold text-black px-4 py-2 rounded-sm bg-[#9B1C12] text-white border-2 border-black shadow-[4px_4px_0_0_rgba(0,0,0,1)] hover:translate-x-[4px] hover:translate-y-[4px] hover:shadow-none active:translate-x-[4px] active:translate-y-[4px] active:shadow-none transition-all duration-150" %>
          <% end %>
          <% if params[:controller] == "courses" %>
            <!-- display selected button -->
            <%= link_to "Corsi", courses_path, class: "inline-block font-bold text-black px-4 py-2 rounded-sm bg-[#9B1C12] text-white border-2 border-black translate-x-[4px] translate-y-[4px] shadow-none" %>
          <% else %>
            <%= link_to "Corsi", courses_path, class: "inline-block font-bold text-black px-4 py-2 rounded-sm bg-[#9B1C12] text-white border-2 border-black shadow-[4px_4px_0_0_rgba(0,0,0,1)] hover:translate-x-[4px] hover:translate-y-[4px] hover:shadow-none active:translate-x-[4px] active:translate-y-[4px] active:shadow-none transition-all duration-150" %>
          <% end %>
        </div>
        <div class="space-x-2">
          <% if user_signed_in? %>
            <%= link_to "Esci", destroy_user_session_path, data: { turbo_method: :delete } %>
          <% else %>
            <%= link_to "Iscriviti/Accedi", new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </nav>
    <main class="max-w-screen-md p-4 mx-auto">
      <% flash.each do |key, message| %>
        <%= content_tag :div, message, class: "flash #{key}" %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
